@model IEnumerable<WebAdmin.Models.AspNetUser>

@{
    ViewData["Title"] = "Index";
}

<h2>Index Of Users</h2>
@if (User.IsInRole("Developer") || User.IsInRole("Admin"))
{
<p>
    @*<a asp-action="Create">Create New</a>*@
    <a asp-action="Register"  asp-controller="Account" asp-route-returnurl="@ViewData["ReturnUrl"]">Register a New User?</a>
</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailConfirmed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailConfirmed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @if (User.IsInRole("Developer"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> <span>|</span>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> <span>|</span>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> <span>|</span>
                        <a asp-action="ResetPasswordAdmin" asp-controller="Account" asp-route-email="@item.Email">Reset Password</a>
                    }
                    else
                    {
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> <span>|</span>
                        <a asp-action="ResetPasswordAdmin" asp-controller="Account" asp-route-email="@item.Email">Reset Password</a>
                    }
                </td>
            </tr>

        }
    </tbody>
</table>

