@model IEnumerable<WebAdmin.Models.Views_Assigned_Role>
@{
    ViewData["Title"] = "UsersAndRoles";
}

<h2>Users & Roles</h2>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayName("Username")</th>
            <th>
                @Html.DisplayName("Application Role Name")
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-controller="AspNetUsers" asp-route-id="@item.Userid">@Html.DisplayFor(modelItem => item.Username)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
            </tr>
        }
    </tbody>
</table>
